In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('loan.csv',low_memory=False)

In [4]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,1077501,1296599,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1077430,1314167,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1077175,1313524,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1076863,1277178,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1075358,1311748,3000.0,3000.0,3000.0,60 months,12.69,67.79,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
cols = df.columns.values

In [8]:
cols

array(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       'emp_title', 'emp_length', 'home_ownership', 'annual_inc',
       'verification_status', 'issue_d', 'loan_status', 'pymnt_plan',
       'url', 'desc', 'purpose', 'title', 'zip_code', 'addr_state', 'dti',
       'delinq_2yrs', 'earliest_cr_line', 'inq_last_6mths',
       'mths_since_last_delinq', 'mths_since_last_record', 'open_acc',
       'pub_rec', 'revol_bal', 'revol_util', 'total_acc',
       'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt',
       'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_d', 'last_pymnt_amnt', 'next_pymnt_d',
       'last_credit_pull_d', 'collections_12_mths_ex_med',
       'mths_since_last_major_derog', 'policy_code', 'application_type',
       'annual_inc_joint', 'dti_joint', 'verification_status_joint',
       'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m',
       'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il',
       'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m',
       'max_bal_bc', 'all_util', 'total_rev_hi_lim', 'inq_fi',
       'total_cu_tl', 'inq_last_12m'], dtype=object)

In [9]:
pd.DataFrame({"columns":cols}).to_csv("columns.csv")

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887379 entries, 0 to 887378
Data columns (total 74 columns):
id                             887379 non-null int64
member_id                      887379 non-null int64
loan_amnt                      887379 non-null float64
funded_amnt                    887379 non-null float64
funded_amnt_inv                887379 non-null float64
term                           887379 non-null object
int_rate                       887379 non-null float64
installment                    887379 non-null float64
grade                          887379 non-null object
sub_grade                      887379 non-null object
emp_title                      835917 non-null object
emp_length                     842554 non-null object
home_ownership                 887379 non-null object
annual_inc                     887375 non-null float64
verification_status            887379 non-null object
issue_d                        887379 non-null object
loan_status                    887379 non-null object
pymnt_plan                     887379 non-null object
url                            887379 non-null object
desc                           126028 non-null object
purpose                        887379 non-null object
title                          887227 non-null object
zip_code                       887379 non-null object
addr_state                     887379 non-null object
dti                            887379 non-null float64
delinq_2yrs                    887350 non-null float64
earliest_cr_line               887350 non-null object
inq_last_6mths                 887350 non-null float64
mths_since_last_delinq         433067 non-null float64
mths_since_last_record         137053 non-null float64
open_acc                       887350 non-null float64
pub_rec                        887350 non-null float64
revol_bal                      887379 non-null float64
revol_util                     886877 non-null float64
total_acc                      887350 non-null float64
initial_list_status            887379 non-null object
out_prncp                      887379 non-null float64
out_prncp_inv                  887379 non-null float64
total_pymnt                    887379 non-null float64
total_pymnt_inv                887379 non-null float64
total_rec_prncp                887379 non-null float64
total_rec_int                  887379 non-null float64
total_rec_late_fee             887379 non-null float64
recoveries                     887379 non-null float64
collection_recovery_fee        887379 non-null float64
last_pymnt_d                   869720 non-null object
last_pymnt_amnt                887379 non-null float64
next_pymnt_d                   634408 non-null object
last_credit_pull_d             887326 non-null object
collections_12_mths_ex_med     887234 non-null float64
mths_since_last_major_derog    221703 non-null float64
policy_code                    887379 non-null float64
application_type               887379 non-null object
annual_inc_joint               511 non-null float64
dti_joint                      509 non-null float64
verification_status_joint      511 non-null object
acc_now_delinq                 887350 non-null float64
tot_coll_amt                   817103 non-null float64
tot_cur_bal                    817103 non-null float64
open_acc_6m                    21372 non-null float64
open_il_6m                     21372 non-null float64
open_il_12m                    21372 non-null float64
open_il_24m                    21372 non-null float64
mths_since_rcnt_il             20810 non-null float64
total_bal_il                   21372 non-null float64
il_util                        18617 non-null float64
open_rv_12m                    21372 non-null float64
open_rv_24m                    21372 non-null float64
max_bal_bc                     21372 non-null float64
all_util                       21372 non-null float64
total_rev_hi_lim               817103 non-null float64
inq_fi                         21372 non-null float64
total_cu_tl                    21372 non-null float64
inq_last_12m                   21372 non-null float64
dtypes: float64(49), int64(2), object(23)
memory usage: 501.0+ MB

In [11]:
set(df['loan_status'])

{'Charged Off',
 'Current',
 'Default',
 'Does not meet the credit policy. Status:Charged Off',
 'Does not meet the credit policy. Status:Fully Paid',
 'Fully Paid',
 'In Grace Period',
 'Issued',
 'Late (16-30 days)',
 'Late (31-120 days)'}

In [12]:
set(df['application_type'])

{'INDIVIDUAL', 'JOINT'}

In [16]:
set(df['issue_d'])

{'Apr-2008',
 'Apr-2009',
 'Apr-2010',
 'Apr-2011',
 'Apr-2012',
 'Apr-2013',
 'Apr-2014',
 'Apr-2015',
 'Aug-2007',
 'Aug-2008',
 'Aug-2009',
 'Aug-2010',
 'Aug-2011',
 'Aug-2012',
 'Aug-2013',
 'Aug-2014',
 'Aug-2015',
 'Dec-2007',
 'Dec-2008',
 'Dec-2009',
 'Dec-2010',
 'Dec-2011',
 'Dec-2012',
 'Dec-2013',
 'Dec-2014',
 'Dec-2015',
 'Feb-2008',
 'Feb-2009',
 'Feb-2010',
 'Feb-2011',
 'Feb-2012',
 'Feb-2013',
 'Feb-2014',
 'Feb-2015',
 'Jan-2008',
 'Jan-2009',
 'Jan-2010',
 'Jan-2011',
 'Jan-2012',
 'Jan-2013',
 'Jan-2014',
 'Jan-2015',
 'Jul-2007',
 'Jul-2008',
 'Jul-2009',
 'Jul-2010',
 'Jul-2011',
 'Jul-2012',
 'Jul-2013',
 'Jul-2014',
 'Jul-2015',
 'Jun-2007',
 'Jun-2008',
 'Jun-2009',
 'Jun-2010',
 'Jun-2011',
 'Jun-2012',
 'Jun-2013',
 'Jun-2014',
 'Jun-2015',
 'Mar-2008',
 'Mar-2009',
 'Mar-2010',
 'Mar-2011',
 'Mar-2012',
 'Mar-2013',
 'Mar-2014',
 'Mar-2015',
 'May-2008',
 'May-2009',
 'May-2010',
 'May-2011',
 'May-2012',
 'May-2013',
 'May-2014',
 'May-2015',
 'Nov-2007',
 'Nov-2008',
 'Nov-2009',
 'Nov-2010',
 'Nov-2011',
 'Nov-2012',
 'Nov-2013',
 'Nov-2014',
 'Nov-2015',
 'Oct-2007',
 'Oct-2008',
 'Oct-2009',
 'Oct-2010',
 'Oct-2011',
 'Oct-2012',
 'Oct-2013',
 'Oct-2014',
 'Oct-2015',
 'Sep-2007',
 'Sep-2008',
 'Sep-2009',
 'Sep-2010',
 'Sep-2011',
 'Sep-2012',
 'Sep-2013',
 'Sep-2014',
 'Sep-2015'}

!pip install timestring
>>> import timestring
>>> timestring.Date('monday, aug 15th 2015 at 8:40 pm')
<timestring.Date 2015-08-15 20:40:00 4491909392>
>>> timestring.Date('monday, aug 15th 2015 at 8:40 pm').date
datetime.datetime(2015, 8, 15, 20, 40)
>>> timestring.Range('next week')
<timestring.Range From 03/10/14 00:00:00 to 03/03/14 00:00:00 4496004880>
>>> (timestring.Range('next week').start.date, timestring.Range('next week').end.date)
(datetime.datetime(2014, 3, 10, 0, 0), datetime.datetime(2014, 3, 14, 0, 0))

In [28]:
from dateutil import parser
df.loc[df['issue_d'].apply(parser.parse())>parser.parse('Aug-2012'),:]

TypeError: parse() missing 1 required positional argument: 'timestr'